@font-face {
    font-family: 'Aeonik';
    src: url('./utils/fonts/Aeonik-Regular.otf');
}

@font-face {
    font-family: 'Aeonik-Bold';
    src: url('./utils/fonts/Aeonik-Bold.otf');
}

@font-face {
    font-family: 'Aeonik-Light';
    src: url('./utils/fonts/Aeonik-Light.otf');
}
